*
{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body
{
    background-color: grey;

}

#orb-one
{
    width: 100%;
    height: 100vh;
    background-color: white;
    border-radius: 50%;
    opacity: 0.3;
    animation-name: shape;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes shape
{
    0%{
        border-radius: 45% 65% 55% 75% ;
    }

    50%{
        border-radius: 55% 75% 35% 45% ;
    }

    110%{
        border-radius: 50% 60% 30% 70% ;
    }
}

#orb-two
{
    width: 90%;
    height: 90vh;
    background-color: yellow;
    border-radius: 50%;
    opacity: 0.6;
    animation-name: shape;
    animation-duration: 15s;
    animation-timing-function: ease-in-out;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 600;
}

h1

{
    text-align: center;
    font-size: 16px;

}

.bubble

{
    width: 50px;
    height: 50px;
    border: 1px dotted black;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 601;
    background-image: radial-gradient(gray, white);
}

.a
{
position: absolute;
top: 5%;
left: 10%;
animation: pulsate 2s ease-in-out infinite alternate;
}
.b
{
    position: absolute;
    right: 5%;
    bottom: 10%;
    animation: pulsate 5s ease-in-out 2s infinite alternate;

}
.c
{
    position: absolute;
    top: 55%;
    left: 40%;
    animation: pulsate 10s ease-in-out 0s infinite alternate;

}

@keyframes pulsate
{
    0%
    {
        transform: scale(0,0);
    }

    100%
    {
        transform: scale(1,1);
    }
}

@media screen and (max-width:1000px) {
    body
    {
        background-color: pink;
    
    }
    #orb-one
    {
        background-color: yellow;
    }

    #orb-one
    {
        background-color: aqua;
    }

    #cupcake
    {
width: 30%;
height: 30vh;
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
margin: auto;
background-image: url(cupcakes1/cupcake1.png);
background-size: contain;
background: no-repeat;
background-position: center;
z-index: 999;
    }
    
}

@media screen and (max-width:700px) {
    body
    {
        background-color: rgb(192, 228, 255);
    
    }
    #orb-one
    {
        background-color: rgb(0, 26, 255);
    }

    #orb-one
    {
        background-color: rgb(13, 167, 167);
    }

    #cupcake
    {
width: 30%;
height: 30vh;
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
margin: auto;
background-image: url(cupcakes1/cupcake2.png);
background-size: contain;
background: no-repeat;
background-position: center;
z-index: 999;
    }
    
}