h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 150px;
    text-align: center;
    background: radial-gradient(circle, purple, green); 
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2
{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body
{
    background-color: linear g;
    background: radial-gradient(red, blue, yellow);
}


hr
{
    width: 100%;
    margin-left: 0;
    margin-right: 0;

}

img
{
size: large ;
float: right;
margin-left: 10px;
width: 250px;
height: auto;
}